.footer {
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}


/* Media Queries for different screens */
@media (max-width: 768px) {
    .footer {
        margin: 20px 10px; /* Smaller margins for smaller screens */
        gap: 15px; /* Reduce the gap for compact layout */
    }

    .footer-bottom {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    .footer {
        margin: 15px; 
        gap: 10px;
    }

    .footer-bottom {
        font-size: 12px; 
        line-height: 1.5; /* Ensuring readability with sufficient line spacing */
    }
}