.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
}